/* Home.css */
.home-container {
    position: relative;
    background-color: #FFFBF5;
    width: 100%;
    min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
    display: flex;
    flex-direction: column;
    padding-top: 80px; 
    padding-bottom: 60px;
}

.home-blur-overlay {
    transition: filter 0.3s ease, opacity 0.3s ease, pointer-events 0.3s ease;
}

.home-profile-sidebar-open {
    left: 0;
}

.home-profile-sidebar-closed {
    left: -50%;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; /* Allow content to take up all available space */
    padding-bottom: 60px; /* Make space for the fixed navbar at the bottom */
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
