/* Missions.css */

.mission-container {
  position: relative;
  background-color: #FFFBF5;
  width: 100%;  
  min-height: 88vh; /* Ensure the container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  padding-top: 60px; 
  padding-bottom: 60px;
}
  
  .mission-title {
    margin-bottom: 20px;
    padding: 3%;
  }
  
  .mission-card {
    background-color: white;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2%;
  }
  